:root {
    --background-light: #fff;
    --text-light: #333333;
    --background-dark: #000;
    --text-dark: #ffffff;
    --toggle-light: #222;
    --toggle-dark: #222;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-white);
    color: var(--text-light);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}


h1 {
    margin: 100px auto;
    font-size: 5rem;
}

.cont {
    text-align: center;
}

.toggle {
    position: relative;
    display: inline-block;
}

.toggle__input {
    display: none;
}

.toggle__label {
    display: block;
    width: 110px;
    height: 60px;
    background-color: var(--toggle-light);
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode .toggle__label {
    background-color: var(--toggle-dark);
}

.toggle__input:checked+.toggle__label::after {
    left: 55px;
}

.toggle__label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: left 0.3s ease;
}